{% extends 'base_bien.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1 style="text-align: center;">Modifier Le Bien</h1>

    {{ include('biens/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
