{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <section class="w3l-top-menu-1">
        <div class="top-hd">
            <div class="container">
                <header class="row">
                    <div class="social-top col-lg-3 col-6">
                        <li>Follow Us</li>
                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-instagram"></span></a> </li>
                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-vimeo"></span></a> </li>
                    </div>
                    <div class="accounts col-lg-9 col-6">
                        <li class="top_li1"><a href="#">Connection</a></li>
                        <li class="top_li2"><a href="#">Déconnection</a></li>
                    </div>

                </header>
            </div>
        </div>
    </section>
    <h1>Modifier Le Bien</h1>

    {{ include('biens/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_biens_index') }}">back to list</a>

    {{ include('biens/_delete_form.html.twig') }}
{% endblock %}
